Package: com.developlab.locationservicesswitcher
Name: LocationServicesSwitcher
Version: 1.2
Architecture: iphoneos-arm
Description: iOS TrollStore Location Services Switcher
Maintainer: developlab
Author: developlab
Section: Utilities
Depends: firmware (>= 14.0) | ${LIBSWIFT}
